#input1 {
    overflow: auto;
}

#input2 {
    overflow: auto;
}


#display {
    overflow: auto;
    word-wrap: break-word;
    font-family: 'chakrapetchMedium';
}

.added-color {
    background-color: #eaf2c2;
    color: #406619;
}

.remove-color {
    color: #b30000;
    background-color: #fadad7;
}



.json-diff-viewer tr .line-modify {
    background-color: #3f3f3f !important;
    color: #ffffff;
    font-family: 'chakrapetchMedium';

}

.json-diff-viewer td .line-equal {
    font-family: 'chakrapetchMedium';
}

.json-diff-viewer {
    font-family: 'chakrapetchMedium';
}


.font-style {
    font-family: 'chakrapetchMedium';
}

/* .cm-editor.cm-focused {
    outline: 2px solid cyan
} */

.cm-editor .cm-content {
    font-family: 'chakrapetchMedium'
}

.code-panel { 
    overflow: auto;
}

.holder { 
    display: flex;
}

.line-numbers-wrapper {
  position: relative;
  padding-left: 0;
}
.line-numbers-wrapper > code { color: #bbb; }

.line-numbers-code {
  margin: 0;
  padding: 0;
  overflow: visible;
  position: absolute; top: 0px; left: 3.3rem;
  z-index: 1;
  border: none;
}