/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    /* position: absolute;
    top: 8px;
    left: 16px; */
    position: absolute;
    top: 50px;
    left: 270px;
}

/* Top left text */
.top-left-name {
    /* position: absolute;
    top: 8px;
    left: 16px; */
    position: absolute;
    top: 103px;
    left: 180px;
}


/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 37px;
    right: -295px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.id-card-font {
    font-family: "DilleniaUPC";
    src: local("DilleniaUPC"),
    url("./assets/fonts/DilleniaUPC-Bold.ttf") format("truetype");
}


.names { 
    font-size: 20px;
    font-weight: bold;
}

.numbers { 
    font-size: 33px;
    font-weight: bold;
}


.image-preview { 
    width: 32%;
    height: 30%;
}