.cursor {
    cursor: pointer;
}

.display-area {
    overflow-y: scroll;
    overflow-y: scroll;
}


textarea {
    overflow-y: scroll;
    overflow-x: scroll;
    border: none;
    outline: none;
}

.text-output {
    overflow-y: scroll;
    overflow-x: scroll;
    border: none;
    outline: none;

}

.test-word-warp {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.heigh-light {
    background-color: yellow;
}

.myModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 'white';
}


pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}