/* .text-output {
    overflow-y: scroll;
    overflow-x: scroll;
    border: none;
    outline: none;
} */

#encoded { 
    overflow: inherit;
    /* border: 1px solid black; */
}

#headers {
    overflow: inherit;
    color: #FB2576;
}

#payload { 
    overflow: inherit;
    color: #C147E9;
}


.secret-area { 
    overflow: auto;
}