#jsonEditorInput.fullscreen {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}


.image-upload>input {
  display: none;
}

.input-json {
  --jse-theme-color: #00adff;
  --jse-theme-color-highlight: #0092e1;
}

/* .jse-theme-dark {
  --jse-theme-color: #00adff;
  --jse-theme-color-highlight: #0092e1;
} */