@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



body {
  font-family: 'chakrapetchMedium', sans-serif;
}

:root {
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;

  --color-purple-100: #673ab7;
  --color-purple-200: #7a4fbf;
  --color-purple-300: #8c64c8;
  --color-purple-400: #9d79d0;
  --color-purple-500: #ae8fd8;
  --color-purple-600: #bfa5e0;
}


.dark {
  --color-bg-primary: #121212;
  --color-bg-secondary: #282828;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --color-bg-success: #99ca5f;
  --color-bg-warning: #ffed58;
  --color-bg-error: #ef4873;
  --color-bg-information: #50a1f5;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-success: #8bc34a;
  --color-bg-warning: #ffeb3b;
  --color-bg-error: #e91e63;
  --color-bg-information: #2196f3;
}



/* @font-face {
  font-family: "Kanit";
  src: local("Kanit"),
   url("./assets/fonts/Kanit-Medium.ttf") format("truetype");
  font-weight: bold;
  } */


@font-face {
  font-family: chakrapetchBold;
  src: local('chakrapetchBold'),
    url('./assets/fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: bold;
}


@font-face {
  font-family: chakrapetchBoldItalic;
  src: local('chakrapetchBoldItalic'),
    url('./assets/fonts/ChakraPetch-BoldItalic.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: chakrapetchBoldItalic;
  src: local('chakrapetchBoldItalic'),
    url('./assets/fonts/ChakraPetch-BoldItalic.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: chakrapetchItalic;
  src: local('chakrapetchBoldItalic'),
    url('./assets/fonts/ChakraPetch-Italic.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: chakrapetchLight;
  src: local('chakrapetchLight'),
    url('./assets/fonts/ChakraPetch-Light.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: chakrapetchLightItalic;
  src: local('chakrapetchLightItalic'),
    url('./assets/fonts/ChakraPetch-LightItalic.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: chakrapetchMedium;
  src: local('chakrapetchMedium'),
    url('./assets/fonts/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: chakrapetchMediumItalic;
  src: local('chakrapetchMediumItalic'),
    url('./assets/fonts/ChakraPetch-MediumItalic.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: chakrapetchRegular;
  src: local('chakrapetchRegular'),
    url('./assets/fonts/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: chakrapetchSemiBold;
  src: local('chakrapetchSemiBold'),
    url('./assets/fonts/ChakraPetch-Semi.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: chakrapetchSemiBoldItalic;
  src: local('chakrapetchSemiBoldItalic'),
    url('./assets/fonts/ChakraPetch-Italic.ttf') format('truetype');
  font-weight: lighter;
}